@font-face {
  font-family: 'Noto Sans KR', sans-serif;
  src: 
  url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&family=Poppins:ital,wght@1,800&display=swap') format('truetype');
  font-style: normal;
  color: #717790c7
}